*,
*:before,
*:after {
  box-sizing: border-box;
}

%center {
  display: flex;
  align-items: center;
}

body {
  padding: 0;
  background: url(../images/background.png) no-repeat center center;
  background-size: cover;
  height: 100vh;
  margin: 0 auto;
  color: white;
  width: 90%;
  max-width: 1280px;
}

img {
  max-width: 100%;
}

.btn {
  font-size: 1.5rem;
  font-family: 'Overlock SC', cursive;
  &:hover {
    transform: scale(1.1);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  place-items: center;
}

.player,
.computer {
  @extend %center;
  flex-direction: column;
}

.total-score {
  @extend %center;
  justify-content: center;
  max-width: 4vw;

  &--player {
    transform: scaleX(-1);
  }
}

.frame {
  background: url(../images/frame.png) no-repeat center center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.items {
  display: flex;

  &__btn {
    max-width: 5vw;
    background: none;
    border: none;
    transition: transform 100ms ease-in-out;

    &:hover,
    &:focus {
      transform: scale(1.2);
      cursor: pointer;
    }
  }
}
